.contador-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}

.contador-texto {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.boton-incrementar {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #711495;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.boton-incrementar:hover {
    background-color: #782188;
}

h1 {
    text-align: center;
}
